.cart-content {
  width: 75%;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: auto;

  div {
    color: #62707f;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.6rem;
  }
}

.cart-item-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'item-img item-info-container';

  text-transform: uppercase;
  color: #43505c;
  border-top: 0.1rem solid #eff1f3;
  padding-block: 1.6rem;
  background-color: white;
}

.item-img {
  background-color: white;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1.6rem;
  grid-area: item-img;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.item-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: auto;
  padding-block: 1.6rem;

  div {    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 0;
    border: 0.1rem solid #a5adb8;
    background-color: white;
    cursor: pointer;
    color: inherit;
  
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
      box-shadow: none;
    }
  }
}

.item-price {
  font-size: 1.4rem;
  font-weight: bold;
}

.quantity-selector {
  display: flex;
  gap: 0.3rem;
}

.continue-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: rgb(54, 67, 186);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem 4rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 4px;
}