.progress-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-number {
  background-color: rgb(104, 119, 135);
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 1px;

}

.progress-number.active {
  background-color: rgb(0, 125, 188);
}

.progress-title.active {
  color: rgb(0, 125, 188);
  font-weight: bold;
}