.logo {
  height: 8vmin;
  margin: 2vmin;
  pointer-events: none;
  color: rgb(0, 125, 188)
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: white;
  color: rgb(0, 16, 24);
  gap: 2vmin;
  font-weight: bold;
  border-bottom: 0.1rem solid rgb(239, 241, 243);
  padding-inline: 1.6rem;
}

.navbar-right {
  display: flex;
  gap: 2vmin;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}